.w3-body {
    font-family: Arial;
    margin: 0;
}

.w3-img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.w3-container {
    position: relative;
    margin-bottom: 20px;
}

/* Hide the images by default */
.w3-mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.w3-cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.w3-prev,
.w3-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.w3-prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.w3-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.w3-prev:hover,
.w3-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.w3-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.w3-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.w3-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.w3-column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.w3-demo {
    opacity: 0.6;
}

.w3-active,
.w3-demo:hover {
    opacity: 1;
}